fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
qdrant-client
langchain
langchain-community
langchain-core
langgraph
langchain-groq
python-multipart
python-dotenv
redis
pydantic
pydantic-settings
sse-starlette
pdfplumber
python-docx
beautifulsoup4
rank_bm25
httpx
sentence-transformers
langchain-huggingface
